*{
    background-color:white ;
    padding-right: 10%;
    padding-left: 10%;
    text-align: left;
    color: #3F3F42;
}
/*Titulo*/
h1{
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.25rem;
    color: #3F3F42;
    padding-left: 25%;
}
/* Caja India coronavirus lockdown*/
.box-1{
    color: #3F3F42;
    border: 1px solid #DB7F7F; /*Otorga ancho del cuadrado y el color*/
    font-weight: bold;
    padding: 0.1rem;
    margin: 30px;
}
.boxepigraf{
    background: #3F3F42;
    color: #EEEEEE;
}

body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding: 20px;
    margin: 20px 0;
    padding-right: 30px;
}

.container{         /*Creamos otra clase que se llama container*/
    width: 80%;     /*Se le pone el porcentaje para que al momento de modificar la pagina responda de forma oportuna moificando la caracteristica*/
    margin: auto;   /* Le pone el mismo margen a los dos lados*/
}

/* Se llama a la clase y al contenido de la caja se le puede cambiar el fondo,letra,etc,etc*/


.underlinedtextbox{
    color: black;
    text-align: left;
    text-decoration: underline;
    line-height: 2;
}